{% extends "base.html" %}
{% load static %}
{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'compare.css' %}">
        <title>Compare your Review with others</title>
    </head>
    <body>
        <div class="container">
            <div class="item1">Compare your reviews with others</div>
            <div class="item2">
                <div class="select-date top">
                    <form class="date-form">
                        <label for="Date">Date:</label>
                        <input type="date" id="date" name="date">
                    </form>
                </div>
                <div class="select-friend top">
                    {% comment %} <select class="form-select" name="friend" id="select-friend">
                        <option value="-1" >None</option>
                    </select> {% endcomment %}
                    <input onclick="show_friends()"
                        type="text"
                        placeholder="Compare with..."
                        id="myInput"
                        onkeyup="filterFunction()">
                    <div id="myDropdown" class="dropdown-content"></div>
                </div>
                <div class="review-left bottom">
                    <p id="left-title"></p>
                    <p id="left-review">
                    </p>
                </div>
                <div class="review-right bottom">
                    <p id="right-title"></p>
                    <p id="right-review">
                    </p>
                </div>
            </div>
        </div>
        <script>
            {% comment %} function selectRefresh() {
                $('#myInput').select2({
                  tags: true,
                  placeholder: "Select an Option",
                  allowClear: true,
                  width: '100%'
                });
              } {% endcomment %}

            function setUserReview() {
                var date = $("#date").val()
                var proto_url = '{% url 'get-review-from-date' user_id=0 year=0 month=0 day=0 %}'
                var date_slug = date.replace(/-/g, "/")
                var user_id = '{{ user.id }}';
                var url = proto_url.substr(0, proto_url.length - 8) + '{{ user.id }}/'+ date_slug
                $.ajax({
                    url: url,
                    method: "GET",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(data, status, xhr) {
                        data = JSON.parse(data)
                        $('#left-title').text(data.title)
                        $('#left-review').text(data.text)
                    },
                    error: function() {
                        $('#left-title').text("")
                        $('#left-review').text("")
                    }
                })
            }

            function setFriendsReview(id) {
                var friend_id = id
                var proto_url = '{% url 'get-review-from-date' user_id=0 year=0 month=0 day=0 %}'
                var date = $("#date").val()
                var date_slug = date.replace(/-/g, "/")
                var url = proto_url.substr(0, proto_url.length - 8) + friend_id + "/" + date_slug
                $.ajax({
                    url: url,
                    method: "GET",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(data, status, xhr) {
                        console.log(data)
                        data = JSON.parse(data)
                        $('#right-title').text(data.title)
                        $('#right-review').text(data.text)
                    },
                    error: function() {
                        $('#right-title').text("")
                        $('#right-review').text("")
                    }
                })
            }

        function setFriendsList() {
            $.ajax({
                url: '{% url 'my-friends-list' %}',
                method: "GET",
                success: function (data, status, xhr) {
                    var $dropdown = $("#myDropdown");
                    console.log(data)
                    data = JSON.parse(data)
                    console.log("this is happening")
                    console.log(data)
                    $.each(data, function(key, value) {
                        $dropdown.append(
                            {% comment %} `
                            <option value="${value.id}">${value.username}</option>
                            ` {% endcomment %}
                            `
                            <div id=${value.id} class="friend" onclick="show_review('${value.id}', '${value.username}')">
                                <div><img src="{%static 'images/sample_friend.jpg' %}"></div>
                                <div class="name-username"><p>${value.first_name} ${value.last_name}</p><p>@${value.username}</p></div>
                            </div>
                            `
                        );
                    });
                    {% comment %} selectRefresh(); {% endcomment %}
                },
                error: function (xhr, status, err) {
                    alert("You don't have any friends");
                }
            });
        }

        $(document).ready(function() {
            setFriendsList();
            document.getElementById('date').valueAsDate = new Date();
            setUserReview()
        });

        $("#date").change(function() {
            setUserReview()
            setFriendsReview()
        })

        function onChangeInput(id) {
            if ($("#date").val() === "") {
                alert("Select date first")
            } else {
                setFriendsReview(id)
            }
        };

        function show_friends() {
            document.getElementById("myDropdown").classList.toggle("show");
            document.getElementById("right-title").classList.toggle("pShow");
            document.getElementById("right-review").classList.toggle("pShow");
        };

        function show_review(id, username) {
            console.log("yo")
            document.getElementById("myDropdown").classList.remove("show");
            document.getElementById("myInput").value = "@"+username;
            document.getElementById("right-title").classList.remove("pShow");
            document.getElementById("right-review").classList.remove("pShow");
            onChangeInput(id);
        };

        function filterFunction() {
            document.getElementById("myDropdown").classList.add("show");
            document.getElementById("right-title").classList.add("pShow");
            document.getElementById("right-review").classList.add("pShow");
            var input, filter, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            div = document.getElementById("myDropdown");
            node_list = div.getElementsByClassName("friend")
            friend_node_list = div.getElementsByClassName("name-username");
            for (i = 0; i < friend_node_list.length; i++) {
                txtValue = friend_node_list[i].textContent;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    node_list[i].style.display = "";
                } else {
                    node_list[i].style.display = "none";
                }
            }
          };

        </script>
    </body>
{% endblock content %}
