{% extends "base.html" %}
{% load static %}
{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'details.css' %}">
        <title>Review Details</title>
    </head>
    <body>
        <div class="img-user-date">
            <div class="image">
                <img src="{% static 'images/sample_friend.jpg' %}" alt="">
            </div>
            <div class="name-username">
                <p class="name">{{ review.user.first_name }} {{ review.user.last_name }}</p>
                <p class="username">@{{ review.user.username }}</p>
            </div>
            <div class="datedon-date">
                <p class="datedon">Written on</p>
                <p class="date">{{ review.date }}</p>
            </div>
        </div>
        <div class="review-thought" id="review-thought">
            <div class="title-review">
                <div class="title">{{ review.title }}</div>
                <div class="review">
                    {{ review.text }}
                </div>
            </div>
            {% if user.username == review.user.username %}
                <div class="div">
                    <button class="button2" onclick="slide2()">Personal Thoughts</button>
                </div>
                <div class="div">
                    <button class="button1" onclick="slide1()">View Review</button>
                </div>
                <div class="personal-thoughts">
                    <div>Personal Thoughts</div>
                    <div>
                        {{ review.personal_thoughts }}
                    </div>
                </div>
            {% endif %}
        </div>
        {% if user.username == review.user.username %}
            <div class="edit-delete">
                <a id="edit-button" href="{% url 'edit-review' pk=review.id %}" class="button">Edit Review</a>
                <a id="delete-button" href="" onclick="activate(this.id)" class="button">Delete Review</a>
            </div>
        {% endif %}
        <script>
            function slide1() {
                document.getElementById("review-thought").classList.remove("slide2");
                document.getElementById("review-thought").classList.toggle("slide1");
            }

            function slide2() {
                document.getElementById("review-thought").classList.remove("slide1");
                document.getElementById("review-thought").classList.toggle("slide2");
            }
        </script>
    </body>
{% endblock content %}
