{% extends "base.html" %}
{% load static %}
{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'feed.css' %}">
    </head>
    <body>
        <div class="container">
            <div class="item1">Daily Reviews</div>
            {% if review_list %}
                <div class="semicircle"></div>
                <div class="item2">
                    <div class="reviews">
                        {% for review in review_list %}
                            <div class="review">
                                <div class="username-date">
                                    <div>
                                        <img src="{{ review.user.socialaccount_set.all.0.get_avatar_url }}"
                                             alt="avatar">
                                    </div>
                                    <div>
                                        <p>@{{ review.user.username }}</p>
                                        <p>{{ review.date }}</p>
                                    </div>
                                </div>
                                <div class="middle-line"></div>
                                <a href="{{ review.get_absolute_url }}" class="review-title">
                                    <div class="inner">
                                        <div class="rotate">
                                            <p>{{ review.title }}</p>
                                            <p>{{ review.text }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <div class="no-review">No reviews to show! &#128546</div>
            {% endif %}
        </div>
        <script>
        const observer = new IntersectionObserver(entries => {
            // Loop over the entries
            entries.forEach(entry => {
              // If the element is visible
              if (entry.isIntersecting) {
                // Add the animation class
                entry.target.classList.add('rotate-animation');
                return;
              }
              entry.target.classList.remove('rotate-animation');
            });
          });

        const boxlist = document.querySelectorAll('.rotate');
          boxlist.forEach((el) => {
            observer.observe(el);
        })
        </script>
    </body>
{% endblock content %}
