{% extends "base.html" %}
{% load static %}
{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'feed.css' %}">
    </head>
    <body>
        <div class="semicircle"></div>
        <div class="title">Daily Reviews</div>
        <div class="container">
            <div class="reviews">
                <div class="review">
                    <div class="rem-line"></div>
                    <div class="username-date">
                        <div><img src="{% static 'images/sample_friend.jpg' %}"></div>
                        <div><p>username</p><p>15 Dec 2100</p></div>
                    </div>
                    <div class="middle-line"></div>
                    <a href="">
                        <div class="review-title">
                            <div class="rotate rotate-animation"><p>aaj ka gyaan</p><p>Ex irure reprehenderit id exercitation exercitation ullamco id. Aute qui nisi nostrud in consequat dolor culpa consequat anim et. Voluptate amet fugiat laboris in laborum incididunt adipisicing. Quis voluptate Lorem est sunt ex aliquip cupidatat elit enim. Velit officia sit tempor officia Lorem pariatur nulla laboris deserunt nisi irure Lorem id ex.</p></div>
                        </div>
                    </a>
                </div>

                <div class="review">
                    <div class="username-date">
                        <div><img src="{% static 'images/sample_friend.jpg' %}"></div>
                        <div><p>username</p><p>15 Dec 2100</p></div>
                    </div>
                    <div class="middle-line"></div>
                    <a href="" class="review-title"><p>Aaj ka gyaan</p></a>
                </div>
                
            </div>
        </div>
    </body>
{% endblock content %}
