{% extends "base.html" %}
{% load static %}
{% load socialaccount %}
{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'friends.css' %}">
    </head>
    <body>
        <div class="title">Friends Zone!!</div>
        {% if friends_list %}
            <div class="title-left">Your Friends</div>
            <div class="current-friends">
                <div class="grid-container">
                        {% for friend in friends_list %}
                            <div class="card">
                                <img src="{{ friend.to_user.socialaccount_set.all.0.get_avatar_url }}"
                                    class="card-img-top"
                                    alt="avatar">
                                <div class="card-body">
                                    <h6 class="card-title">{{ friend.to_user.username }}</h6>
                                    <p class="card-text">{{ friend.to_user.email }}</p>
                                </div>
                            </div>
                        {% endfor %}
                </div>
            </div>
            <div class="add-friend friend-no">
                <div id="connect" class="connect">Connect to someone you may know</div>
                <div id="mainDropDown" class="dropdown">
                    <input onclick="myFunction()"
                           type="text"
                           placeholder="Search by Name or Username"
                           id="myInput"
                           onkeyup="filterFunction()">
                    <div id="myDropdown" class="dropdown-content"></div>
                </div>
            </div>
        {% else %}
            <div class="add-friend friend-yes">
                <div id="connect" class="connect">Connect to someone you may know</div>
                <div id="mainDropDown" class="dropdown">
                    <input onclick="myFunction()"
                        type="text"
                        placeholder="Search by Name or Username"
                        id="myInput"
                        onkeyup="filterFunction()">
                    <div id="myDropdown" class="dropdown-content"></div>
                </div>
            </div>
        {% endif %}
        <script>
            $(document).ready(function() {
                $.ajax({
                    url: "{% url 'discover-friends' %}",
                    method: "GET",
                    success: function (data, status, xhr) {
                        var $dropdown = $("#myDropdown");
                        data = JSON.parse(data)
                        console.log("this is happening")
                        console.log(data)
                        $.each(data, function(key, value) {
                            $dropdown.append(
                                `
                                <div class="friend">
                                    <div><img src="{%static 'images/sample_friend.jpg' %}"></div>
                                    <div><p>${value.first_name} ${value.last_name}</p><p>@${value.username}</p></div>
                                    <div><button id="${value.username}" onclick="activate(this.id)" class="send-request">Add Friend</button></div>
                                </div>
                                `
                            );
                        });
                    },
                    error: function (xhr, status, err) {
                    alert("Something went wrong");
                    }
                });
            })

            /* When the user clicks on the button,
            toggle between hiding and showing the dropdown content */
            function myFunction() {
                document.getElementById("connect").classList.toggle("shift-connect");
                document.getElementById("mainDropDown").classList.toggle("shift-dropdown");
                document.getElementById("myDropdown").classList.toggle("show");
            }

            function activate(id_name) {
                document.getElementById(id_name).innerHTML = "Request Sent";
                document.getElementById(id_name).classList.toggle("request-sent");
                document.getElementById(id_name).setAttribute("disabled", "");
                document.getElementById(id_name).classList.remove("send-request");
            }
        </script>
    </body>
{% endblock content %}
