{% extends "base.html" %}
{% load static %}
{% load socialaccount %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'friends.css' %}">
</head>

<body>
    <div class="current-friends">
        <div class="grid-container">
            <div class="card">
                <img src="{% static 'images/sample_friend.jpg' %}" class="card-img-top" alt="">
                <div class="card-body">
                <h6 class="card-title">Somya Bansal</h5>
                <p class="card-text">@somib</p>
                </div>
            </div>

            <div class="card">
                <img src="{% static 'images/sample_friend.jpg' %}" class="card-img-top" alt="">
                <div class="card-body">
                <h6 class="card-title">Somya Bansal</h5>
                <p class="card-text">@somib</p>
                </div>
            </div>

            <div class="card">
                <img src="{% static 'images/sample_friend.jpg' %}" class="card-img-top" alt="">
                <div class="card-body">
                <h6 class="card-title">Somya Bansal</h5>
                <p class="card-text">@somib</p>
                </div>
            </div>

            <div class="card">
                <img src="{% static 'images/sample_friend.jpg' %}" class="card-img-top" alt="">
                <div class="card-body">
                <h6 class="card-title">Somya Bansal</h5>
                <p class="card-text">@somib</p>
                </div>
            </div>

            <div class="card">
                <img src="{% static 'images/sample_friend.jpg' %}" class="card-img-top" alt="">
                <div class="card-body">
                <h6 class="card-title">Somya Bansal</h5>
                <p class="card-text">@somib</p>
                </div>
            </div>

            <div class="card">
                <img src="{% static 'images/sample_friend.jpg' %}" class="card-img-top" alt="">
                <div class="card-body">
                <h6 class="card-title">Somya Bansal</h5>
                <p class="card-text">@somib</p>
                </div>
            </div>

            <div class="card">
                <img src="{% static 'images/sample_friend.jpg' %}" class="card-img-top" alt="">
                <div class="card-body">
                <h6 class="card-title">Somya Bansal</h5>
                <p class="card-text">@somib</p>
                </div>
            </div>

            <div class="card">
                <img src="{% static 'images/sample_friend.jpg' %}" class="card-img-top" alt="">
                <div class="card-body">
                <h6 class="card-title">Somya Bansal</h5>
                <p class="card-text">@somib</p>
                </div>
            </div>

            <div class="card">
                <img src="{% static 'images/sample_friend.jpg' %}" class="card-img-top" alt="">
                <div class="card-body">
                <h6 class="card-title">Somya Bansal</h5>
                <p class="card-text">@somib</p>
                </div>
            </div>
        </div>
    </div>

    <div class="add-friend">
        <div class="connect">
            Find friends
        </div>
        <div>
        </div>
        <div class="image">
            <img src="{% static 'images/friends.png' %}">
        </div>
    </div>

</body>
{% endblock %}