{% extends "base.html" %}
{% load static %}
{% load socialaccount %}
{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'friends.css' %}">
        <title>Friends Zone</title>
    </head>
    <body>
        <div class="container">
            <div class="item1">Friends Zone!!</div>
            <div class="item2">
                {% if friends_list %}
                    <div class="left">
                        <div class="top">Your Friends</div>
                        <div class="bottom">
                            <div class="grid">
                                {% for friend in friends_list %}
                                    <div class="card">
                                        <img src="{{ friend.to_user.socialaccount_set.all.0.get_avatar_url }}"
                                             class="card-img-top"
                                             alt="avatar">
                                        <div class="card-body">
                                            <p class="card-title">{{ friend.to_user.first_name }} {{ friend.to_user.last_name }}</p>
                                            <p class="card-text">@{{ friend.to_user.username }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="right">
                    <div class="one" id="connect">Connect to someone you may know</div>
                    <div class="two">
                        <div class="dropdown" id="mainDropDown">
                            <input onclick="myFunction()"
                                   type="text"
                                   placeholder="Search by Name or Username"
                                   id="myInput"
                                   onkeyup="filterFunction()">
                            <div id="myDropdown" class="dropdown-content"></div>
                        </div>
                    </div>
                    <div class="three" id="requests">
                        <a href="/friends/requests"><button>Friend Requests</button></a>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function() {
                $.ajax({
                    url: "{% url 'discover-friends' %}",
                    method: "GET",
                    success: function (data, status, xhr) {
                        var $dropdown = $("#myDropdown");
                        data = JSON.parse(data)
                        $.each(data, function(key, value) {
                            $dropdown.append(
                                `
                                <div class="friend">
                                    <div><img src="{%static 'images/sample_friend.jpg' %}"></div>
                                    <div class="name-username"><p>${value.first_name} ${value.last_name}</p><p>@${value.username}</p></div>
                                    <div><button value="${value.id}" class="send-request" id="send-${value.id}" onclick="activate(${value.id})">Add Friend</button></div>
                                </div>

                                `
                            );
                        });
                    },
                    error: function (xhr, status, err) {
                    alert("Something went wrong");
                    }
                });
            })

            function myFunction() {
                document.getElementById("connect").classList.toggle("shift-connect");
                document.getElementById("mainDropDown").classList.toggle("shift-dropdown");
                document.getElementById("myDropdown").classList.toggle("show");
                document.getElementById("requests").classList.toggle("shift-connect");
            };

            function activate(user_id){
                console.log("something is happening")
                var proto_url = '{% url 'send-friendship-request' user_id=0 %}'
                var url = proto_url.substr(0, proto_url.length - 1) + user_id
                $.ajax({
                    url: url,
                    method: "GET",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function(data, status, xhr) {
                        $(`#send-${user_id}`).text("Request Sent");
                        $(`#send-${user_id}`).toggleClass("request-sent");
                        $(`#send-${user_id}`).attr("disabled", "")
                        $(`#send-${user_id}`).removeClass("send-request");
                    }
                })
            };

            document.getElementById("nav4").classList.add('active');

            function filterFunction() {
                var input, filter, i;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                div = document.getElementById("myDropdown");
                node_list = div.getElementsByClassName("friend")
                friend_node_list = div.getElementsByClassName("name-username");
                for (i = 0; i < friend_node_list.length; i++) {
                    txtValue = friend_node_list[i].textContent;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        node_list[i].style.display = "";
                    } else {
                        node_list[i].style.display = "none";
                    }
                }
              };
            

        </script>
    </body>
{% endblock content %}
