{% extends "base.html" %}
{% load static %}
{% load socialaccount %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'requests.css' %}">
</head>
<body>
    <div class="container">
        <div class="item1">Your Friend Requests</div>
        <div class="item2">
            <div class="requests">
                {% for request in friend_requests %}
                    <div class="username-date">
                        <div>
                            <img src="{{ request.from_user.socialaccount_set.all.0.get_avatar_url }}"
                                alt="avatar">
                        </div>
                        <div>
                            <p>{{ request.from_user.first_name }} {{ request.from_user.last_name }}</p>
                            <p>@{{ request.from_user.username }}</p>
                        </div>
                    </div>
                    <div class="accept-reject">
                        <button id="accept-{{ request.id }}"
                                type="button"
                                value="{{ request.id }}"
                                class="accept button">Accept</button>

                        <button id="reject-{{ request.id }}"
                                type="button"
                                value="{{ request.id }}"
                                class="reject button">Reject</button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
    <script>
        $(document).ready(function(){
            $(".accept").button().click(function(){
                var pk = $(this).val()
                var proto_url = '{% url 'process-friendship-request' pk=0 %}'
                var url = proto_url.substr(0, proto_url.length - 1) + pk
                $.ajax({
                    url: url,
                    method: "POST",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        action : "accept"
                    },
                    success: function(data, status, xhr) {
                        $(`#reject-${pk}`).remove();
                        $(`#accept-${pk}`).text("Accepted");
                        $(`#accept-${pk}`).toggleClass("accepted");
                        $(`#accept-${pk}`).attr('disabled', "");
                        $(`#accept-${pk}`).removeClass("accept");
                    }
                })
            });

            $(".reject").button().click(function(){
                var pk = $(this).val()
                var proto_url = '{% url 'process-friendship-request' pk=0 %}'
                var url = proto_url.substr(0, proto_url.length - 1) + pk
                $.ajax({
                    url: url,
                    method: "POST",
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        action: "reject"
                    },
                    success: function(data, status, xhr) {
                        $(`#accept-${pk}`).remove();
                        $(`#reject-${pk}`).text("Rejected");
                        $(`#reject-${pk}`).toggleClass("rejected");
                        $(`#reject-${pk}`).attr('disabled', "");
                        $(`#reject-${pk}`).removeClass("reject");
                    }
                })
            });
        })
    </script>
{% endblock content %}
