body {
    overflow-x: hidden;
}

.img-user-date {
    margin: 3rem 5rem 0rem 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image img{
    width: 3rem;
    margin: 1rem;
    margin-left: 1.3rem;
    border-radius: 10rem;
    border: 2px solid rgba(249, 245, 228, 0.938);
}

.name-username {
    /* margin-to: 1rem; */
    margin-right: auto;
    align-content: center;
    
}

.name {
    margin-bottom: 0;
    font-size: 1.2rem;
    color:rgba(237, 232, 223, 0.801)
}

.username {
    margin-bottom: 0;
    font-size: 0.8rem;
    color:rgba(241, 222, 200, 0.4)
}

.datedon-date {
    text-align: right;
    margin: 1rem;
}

.datedon {
    margin-bottom: 0;
    /* font-size: 0.8rem; */
    color:rgba(241, 222, 200, 0.4)
}

.date {
    margin-bottom: 0;
    font-size: 1.2rem;
    color:rgba(237, 232, 223, 0.801)
}

/*////////////////////////////////////////////*/

.review-thought {
    display: flex;
    flex-direction: row;
    max-height: 25rem;
    width: 200vw;
    transition: 0.4s ease-out;
    position: relative;
}

.title-review {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.title {
    background-color: rgba(199, 191, 180, 0.1);
    text-align: center;
    padding: 0.5rem;
    font-size: 1.3rem;
    color: rgb(248, 241, 231);
    margin-left: 6rem;
    margin-right: 4rem;
}

.review {
    margin-top: 0.5rem;
    margin-left: 6rem;
    margin-right: 4rem;
    overflow-y: auto;
    padding: 2rem 3rem;
    text-align: justify;
    background-color: rgba(199, 191, 180, 0.1);
    color:rgb(239, 223, 200);
    line-height: 1.8rem;
}

/*///////////////////////////////////////////*/

.personal-thoughts {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.personal-thoughts div:nth-child(1) {
    background-color: rgba(199, 191, 180, 0.1);
    text-align: center;
    padding: 0.5rem;
    font-size: 1.3rem;
    color: rgb(248, 241, 231);
    margin-left: 4rem;
    margin-right: 6rem;
}

.personal-thoughts div:nth-child(2) {
    margin-top: 0.5rem;
    margin-left: 4rem;
    margin-right: 6rem;
    overflow-y: auto;
    padding: 2rem 3rem;
    text-align: justify;
    background-color: rgba(199, 191, 180, 0.1);
    color:rgb(239, 223, 200);
    line-height: 1.8rem;
}

.div {
    width: 2rem;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-thought div button {
    background-color: rgb(107, 87, 52);
    padding-top: 0.2rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    padding-bottom: 0rem;
    font-size: 1.2rem;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    transition: 0.15s ease-out;
    border: none;
    color: rgb(231, 204, 170);
}

.button2 {
    width: 16rem;
    transform: rotateZ(-90deg);
}

.button1 {
    width: 13rem;
    transform: rotateZ(90deg);
}

/*///////////////////////////////////////////*/

.button1:hover {
    background-color: rgb(83, 64, 32);
    transform: rotateZ(90deg) scale(1.02);
}

.button1:active {
    background-color: rgb(57, 42, 17);
    transform: rotateZ(90deg) scale(1);
}

.button2:hover {
    background-color: rgb(83, 64, 32);
    transform: rotateZ(-90deg) scale(1.02);
}

.button2:active {
    background-color: rgb(57, 42, 17);
    transform: rotateZ(-90deg) scale(1);
}

/*/////////////////////////*/

.edit-delete {
    /* background-color: black; */
    margin: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button {
    padding: 0.3rem 1.0rem;
    border-radius: 0.8rem;
    margin: 0rem 0.5rem;
    border: 0px;
    text-decoration: none;
}

#edit-button {
    background-color: transparent;
    color: rgb(167, 147, 111);
    font-size: 1.2rem;
    border: 3px solid rgb(130, 109, 73);
    transition: 0.15s ease-out;
}

#delete-button {
    background-color: transparent;
    font-size: 1.2rem;
    color: rgb(196, 51, 22);
    border: 3px solid rgb(151, 28, 4);
    transition: 0.15s ease-out;
}

#edit-button:hover {
    transform: scale(1.02);
    background-color: rgb(130, 109, 73);
    color: #ddd;
}

#delete-button:hover {
    transform: scale(1.02);
    background-color: rgb(151, 28, 4);
    color: #ddd;
}

#edit-button:active {
    transform: scale(1);
    background-color: rgb(107, 87, 52);
    /* border: 3px solid rgb(101, 87, 52); */
}

#delete-button:active {
    transform: scale(1);
    background-color: rgb(104, 19, 2);
    /* border: 3px solid rgb(104, 19, 2);    */
}

.slide1 {
    animation: slide-anim1 0.5s forwards;
}

@keyframes slide-anim1 {
    from {right: 100vw;}
    to {right: 0vw;}
}

.slide2 {
    animation: slide-anim2 0.5s forwards;
}

@keyframes slide-anim2 {
    from {right: 0vw;}
    to {right: 100vw;}
}