.container {
    display: flex;
    flex-direction: column;
}

.item1 {
    align-self: center;
    font-size: 1.8rem;
    color: rgb(212, 220, 226);
    animation: title 1s ease-out 0s 2 alternate;
    text-shadow: 2px 2px 8px black;
    height: 13vh;
    line-height: 15vh;
}

@keyframes title {
    0% {color: rgb(212, 220, 226);
          font-size: 1.8rem;}
    100% {color: aliceblue;
        font-size: 1.9rem;}
}

.item2 {
    background: linear-gradient(rgba(199, 191, 180, 0.1), rgba(199, 191, 180, 0.2));
    height: 70vh;
    overflow-y: overlay;
    padding-bottom: 2rem;
    position: relative;
}

.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-flow: row wrap; */
}

.review {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.username-date {
    width: 18rem;
    height: 4rem;
    padding: 0.5rem 1rem;
    border-radius: 0.7rem;
    box-shadow: 3px 3px 9px -3px black;
    margin: 2rem
}

.username-date div img {
    width: 2.5rem;
    border-radius: 10rem;
    float: left;
    margin-top: 0.2rem;
    margin-right: 1rem;
}

.username-date div p:first-child {
    margin-bottom: 0;
    color: rgb(255, 255, 255);
}

.username-date div p:last-child {
    color: #ddd;
    font-size: 0.8rem;
}

.review-title {
    text-decoration: none;
    margin: 1rem
}

.inner {
    perspective: 200px;
}

.rotate {
    background-color: rgb(83, 62, 24);
    width: 35rem;
    max-height: 10rem;
    overflow: hidden;
    padding: 2.0rem;
    color: #ddd;
    transition: 0.3s;
    transition-timing-function: ease-out;
    box-shadow: 3px 3px 9px -3px rgb(43, 30, 3);
    transform-origin: left bottom;
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

@media (prefers-reduced-motion: no-preference) {
    .rotate-animation {
        animation: wipe 0.8s 1;
    }
}

@keyframes wipe {
    from {transform: rotateY(90deg);}
    to {transform: rotateY(0deg);}
}

.rotate p:first-child {
    font-size: large;
    margin-bottom: 0;
}

.rotate p:nth-child(2) {
    text-align: justify;
    margin-top: 1rem;
}

.review-title:hover .rotate{
    transform: scale(1.02);
    background-color: rgb(56, 41, 13);
    color: #ddd;
}

.review-title:active .rotate{
    background-color: rgb(83, 62, 24);
    transform: scale(1);
}

.middle-line {
    align-self: stretch;
    width: 0.4rem;
    background-color:rgb(55, 42, 19);
}

.semicircle {
    width: 1.2rem;
    height: 1rem;
    border-top-left-radius: 10rem;
    border-top-right-radius: 10rem;
    border-top: 0.2rem   solid rgb(55, 42, 19);
    border-left: 0.4rem solid rgb(55, 42, 19);
    position: relative;
    left: 40.5%;
}

@media screen and (max-width: 1400px) {
    .semicircle {
        left: 39%;
    }
}