.title {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 5vh;
    font-size: 1.8rem;
    color: rgb(212, 220, 226);
    animation: title 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: 2;
    animation-direction: alternate;
    text-shadow: 2px 2px 8px black;
}

@keyframes title {
    0% {color: rgb(212, 220, 226);
          font-size: 1.8rem;}
    100% {color: aliceblue;
        font-size: 1.9rem;}
}

.container {
    width: 80vw;
    max-height: 70vh;
    background: rgba(74, 72, 69, 0.408);
    position: absolute;
    top: 22vh;
    margin-left: 10vw;
    overflow-y: overlay;
    padding-bottom: 2rem;
}

.review {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* min-height: 10rem;
    max-height: 10rem; */
    position: relative;
    /* top: 7rem */
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* margin: 5rem; */
}

.username-date {
    /* background-color: black; */
    width: 18rem;
    position: relative;
    left: 10vw;
    height: 4rem;
    padding: 0.5rem 1rem;
    border-radius: 0.7rem;
    /* border-bottom: 2px solid #ddd;
    border-right: 2px solid #ddd; */
    box-shadow: 3px 3px 9px -3px black;
}

.username-date div img {
    width: 2.5rem;
    border-radius: 10rem;
    float: left;
    margin-top: 0.2rem;
    margin-right: 1rem;
}

.username-date div p:first-child {
    margin-bottom: 0;
    color: rgb(255, 255, 255);
}

.username-date div p:last-child {
    color: #ddd;
    font-size: 0.8rem;
}

.review-title {
    text-decoration: none;
    position: relative;
    left: 14vw;
}

.inner {
    /* perspective-origin: left; */
    perspective: 200px;
}

.rotate {
    /* transform: rotateY(-90deg); */
    background-color: rgb(83, 62, 24);
    width: 35rem;
    max-height: 10rem;
    overflow: hidden;
    padding: 1.0rem;
    color: #ddd;
    transition: 0.3s;
    transition-timing-function: ease-out;
    box-shadow: 3px 3px 9px -3px rgb(43, 30, 3);
    border: 1rem solid rgb(83, 62, 24);
    transform-origin: left bottom;
}

@media (prefers-reduced-motion: no-preference) {
    .rotate-animation {
        animation: wipe 0.8s 1;
    }
}

@keyframes wipe {
    from {transform: rotateY(90deg);}
    to {transform: rotateY(0deg);}
}

.rotate p:first-child {
    font-size: large;
    margin-bottom: 0;
}

.rotate p:nth-child(2) {
    text-align: justify;
    background-image: linear-gradient(#ddd, transparent);
    background-position-y: -3.1rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    margin-top: 1rem;
}

.review-title:hover .rotate{
    transform: scale(1.02);
    background-color: rgb(56, 41, 13);
    color: #ddd;
    border: 1rem solid rgb(56, 41, 13);
} */

.review-title:active .rotate{
    background-color: rgb(83, 62, 24);
    transform: scale(1);
    border: 1rem solid rgb(83, 62, 24);
}

.middle-line {
    width: 0.4rem;
    background-color:rgb(55, 42, 19);
    height: 100%;
    position: absolute;
    left: 30.5vw;
    /* top: -2rem */
}

.rem-line {
    width: 0.4rem;
    background-color: rgb(55, 42, 19);
    height: 0.8rem;
    position: fixed;
    top: 22vh;
    left: 41.3vw
}

.semicircle {
    width: 1.2rem;
    height: 1rem;
    border-top-left-radius: 10rem;
    border-top-right-radius: 10rem;
    left: 41.3vw;
    position: fixed;
    top: 9.7vw;
    border-top: 0.2rem   solid rgb(55, 42, 19);
    border-left: 0.4rem solid rgb(55, 42, 19);
}

.no-review {
    color: rgb(183, 182, 180);
    font-size: xx-large;
    text-align: center;
    position: absolute;
    top: 50vh;
    left: 40vw;
    animation: down 1s;
}

@keyframes down {
    from {top:40vh;}
    to {top: 50vh}
}