.container {
    display: flex;
    flex-direction: column;
}

.item1 {
    align-self: center;
    font-size: 1.8rem;
    color: rgb(212, 220, 226);
    animation: title 1s ease-out 0s 2 alternate;
    text-shadow: 2px 2px 8px black;
    height: 13vh;
    line-height: 15vh;
}

@keyframes title {
    0% {color: rgb(212, 220, 226);
          font-size: 1.8rem;}
    100% {color: aliceblue;
        font-size: 1.9rem;}
}

.item2 {
    background: linear-gradient(rgba(199, 191, 180, 0.1), rgba(199, 191, 180, 0.2));
    height: 70vh;
    overflow-y: overlay;
    padding-bottom: 2rem;
    position: relative;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-group label {
    width: 12rem;
    padding: 0.5rem 1rem;
    border-radius: 0.7rem;
    box-shadow: 10px 0px 10px -3px rgba(27, 17, 2, 0.924);
    margin: 1rem;
    text-align: right;
    color: rgb(197, 197, 197);
}

.input {
    margin: 1rem;
    background-color: rgb(83, 62, 24);
    width: 35rem;
    max-height: 10rem;
    overflow: overlay;
    padding: 2.0rem;
    color: #ddd;
    box-shadow: 3px 3px 9px -3px rgb(43, 30, 3);
    border: none
}

.input:hover {
    background-color: rgb(73, 54, 18);
}

.input:focus {
    background-color: rgb(91, 70, 31);
    outline: none !important;
}

#field4 div {
    margin: 1rem !important;
    width: 35rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#field4 div label {
    margin: 0;
    margin-bottom: 0.5rem;
    background-color: rgb(83, 62, 24);
    padding: 1.0rem;
    padding-left: 1.5rem;
    color: #ddd;
    box-shadow: 3px 3px 9px -3px rgb(43, 30, 3);
    border-radius: 0;
    width: 100%;
    text-align: left;
    transition: 0.15s ease-out;
    cursor: pointer;
}

#field4 div label input {
    width: 0;
}
#field4 div label:hover {
    background-color: rgb(73, 54, 18);
}

.save {
    padding: 0.3rem 1.0rem;
    border: none;
    border-radius: 0.8rem;
    background-color: rgb(37, 25, 4);
    color: rgb(205, 198, 187);
    font-size: 1.2rem;
    transition: 0.15s ease-out;
    box-shadow: 0 0 9px -2px rgb(40, 26, 3);
}

.save:hover {
    transform: scale(1.02);
    background-color: rgb(79, 59, 26);
    color: #ddd;
}

.save:active {
    transform: scale(1);
    background-color: rgb(39, 27, 6);
}