.title {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 5vh;
    font-size: 1.8rem;
    color: rgb(212, 220, 226);
    animation: title 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: 2;
    animation-direction: alternate;
    text-shadow: 2px 2px 8px black;
}

@keyframes title {
    0% {color: rgb(212, 220, 226);
          font-size: 1.8rem;}
    100% {color: aliceblue;
        font-size: 1.9rem;}
}

.card-title {
    line-height: 0.4rem;
    color: white;
}

.card {
    background-color: transparent;
    border-color: transparent;
    width: 13rem;
    align-items: center;
    padding-top: 1.2rem;
    overflow-y: overlay;
    overflow-x: hidden;
}

.card-img-top {
    border-radius: 10rem;
    width: 9rem;
}

.card-text {
    font-size: 0.8rem;
    color: rgb(183, 182, 180);
}

.current-friends {
    height: 63vh;
    position: absolute;
    left: 18vw;
    top: 30vh;
    background: linear-gradient(rgba(199, 191, 180, 0.1), rgba(199, 191, 180, 0.2));
    overflow-y: auto;
    overflow-x: hidden;
}

.title-left {
    background: linear-gradient(rgba(199, 191, 180, 0.1), rgba(199, 191, 180, 0.2));
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 3rem;
    position: absolute;
    top: 23vh;
    left: 18vw;
    width: 26.4rem;
    color: rgb(226, 226, 226);
    font-size: 1.2rem;
    font-weight: 500;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

.card-body {
    width: 10rem;
}

.add-friend {
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(199, 191, 180, 0.1), rgba(199, 191, 180, 0.2));
    height: 70vh;
    position: absolute;
    left: 46vw;
    top: 23vh;
    padding: 2rem;
    align-items: center;
}

.connect {
    text-align: center;
    font-size: 2rem;
    color: rgb(226, 226, 226);
    margin-top: 7rem;
    width: 25rem;
    transition: 0.3s;
    transition-timing-function: ease-out;
}

.shift-connect {
    transform: translateY(-8rem);
    width: 25rem;
    font-size: 1.2rem
}

.image > img {
    width: 20rem;
}



/*///////////////////////*/

#myInput {
    /* box-sizing: border-box; */
    background-image: url('images/searchicon.png');
    background-position: 14px 16px;
    background-size: 1.2rem;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
    width: 30rem;
    color: #ddd;
}

#myInput:focus {
    outline: 2px solid #ddd;
    border-bottom: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 1rem;
    transition: 0.3s;
    transition-timing-function: ease-out;
}

.shift-dropdown {
    transform: translateY(-7.5rem);
}

.dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #f6f6f6; */
    min-width: 30.1rem;
    left: 2px;
    overflow-y: overlay;
    max-height: 22rem;
    /* border: 1px solid #ddd; */
    border-radius: 0 0 0.7rem 0.7rem;
    z-index: 1;
}

.friend {
    position: relative;
    top: 0;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.friend div:nth-child(2) {
    width: 13.5rem;
    overflow: hidden;
}

.friend div p:first-child {
    color: rgb(255, 255, 255);
    display: block;
    margin: 0;
    margin-left:1rem;
    /* font-weight: bold; */
}

.friend div p:last-child {
    color: #ddd;
    display: block;
    margin: 0;
    margin-left:1rem;
    font-size: 0.8rem
}

.friend div img {
    width: 5rem;
    float: left;
    border-radius: 10rem;
    border: 2px solid #ddd;
}

.friend:hover {
    background-color: #ddd;
}

.friend:hover div p:first-child {
    color: rgb(114, 92, 53);
    font-weight: bold;
}

.friend:hover div p:last-child {
    color: rgb(114, 92, 53)
}

.show {display: block;}

/*/////////////////*/

.send-request {
    background-color: rgb(152, 129, 85);
    padding: 0.6rem 1.3rem;
    margin-left: 2rem;
    margin-right: 1rem;
    align-content: center;
    margin-top: 1rem;
    border-radius: 0.4rem;
    color: #f6f6f6;
    transition: 0.15s;
    transition-timing-function: ease-out;
}

.send-request:hover {
    background-color: rgb(93, 71, 29);
    transform: scale(1.02);
}

.send-request:active {
    background-color: rgb(56, 41, 13);
    transform: scale(1);
}