.container {
    display: flex;
    flex-direction: column;
}

.item1 {
    align-self: center;
    font-size: 1.8rem;
    color: rgb(212, 220, 226);
    animation: title 1s ease-out 0s 2 alternate;
    text-shadow: 2px 2px 8px black;
    height: 15vh;
    line-height: 15vh;
}

@keyframes title {
    0% {color: rgb(212, 220, 226);
          font-size: 1.8rem;}
    100% {color: aliceblue;
        font-size: 1.9rem;}
}

.item2 {
    display: flex;
    flex-direction: row;
    height: 70vh;
    justify-content: center;
}

.left {
    display: flex;
    flex-direction: column;
    margin-right: 1vh;
}

.top {
    background: linear-gradient(rgba(199, 191, 180, 0.1), rgba(199, 191, 180, 0.2));
    color: rgb(226, 226, 226);
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    line-height: 3rem;
}


.bottom {
    background: linear-gradient(rgba(199, 191, 180, 0.1), rgba(199, 191, 180, 0.2));
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 1vh;
    flex: 1;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
}

.card {
    background-color: transparent;
    border-color: transparent;
    width: 13rem;
    align-items: center;
    padding-top: 1.2rem;
}

.card-img-top {
    border-radius: 10rem;
    width: 9rem;
}

.card-title {
    line-height: 0.4rem;
    color: white;
}

.card-text {
    font-size: 0.8rem;
    color: rgb(183, 182, 180);
}

.right {
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(199, 191, 180, 0.1), rgba(199, 191, 180, 0.2));
    justify-content: center;
    align-items: center;
}

.one {
    font-size: 2rem;
    color: rgb(226, 226, 226);
    width: 25rem;
    text-align: center;
}

.two {
    
}

.dropdown {
    margin: 1rem 4rem;
    /* transition: 0.3s;
    transition-timing-function: ease-out; */
}

#myInput {
    background: url('images/searchicon.png') 0.8rem center no-repeat;
    background-size: 1.2rem;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
    width: 30rem;
    color: #ddd;
}

#myInput:focus {
    outline: 2px solid #ddd;
    border-bottom: none;
}

.dropdown-content {
    display: none;
    /* left: 2px; */
    overflow-y: scroll;
    max-height: 22rem;
    border-radius: 0 0 0.7rem 0.7rem;
}

.friend {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.friend div img {
    width: 5rem;
    /* float: left; */
    border-radius: 10rem;
    border: 2px solid #ddd;
}

.friend div:nth-child(2) {
    width: 13rem;
    overflow: hidden;
}

.friend div p:first-child {
    color: rgb(255, 255, 255);
    /* display: block; */
    margin: 0;
    margin-left:1rem;
    /* font-weight: bold; */
}

.friend div p:last-child {
    color: #ddd;
    /* display: block; */
    margin: 0;
    margin-left:1rem;
    font-size: 0.8rem;
}

.friend:hover {
    background-color: #ddd;
}

.friend:hover div p:first-child {
    color: rgb(114, 92, 53);
    font-weight: bold;
}

.friend:hover div p:last-child {
    color: rgb(114, 92, 53)
}

.send-request {
    background-color: transparent;
    margin-left: 2rem;
    margin-right: 1rem;
    align-content: center;
    width: 8rem;
    height: 3rem;
    border-radius: 0.4rem;
    color: rgb(93, 71, 29);
    border: 2px solid rgb(93, 71, 29);
    transition: 0.15s;
    transition-timing-function: ease-out;
    
}

.send-request:hover {
    background-color: rgb(93, 71, 29);
    border: 2px solid rgb(93, 71, 29);
    color: #ddd;
    transform: scale(1.02);
}

.send-request:active {
    background-color: rgb(56, 41, 13);
    transform: scale(1);
}

.show {display: block;}

.request-sent {
    padding: 0.6rem 0.3rem;
    margin-left: 2rem;
    margin-right: 1rem;
    align-content: center;
    width: 8rem;
    border-radius: 0.4rem;
    background-color: rgb(93, 71, 29);
    border: 2px solid rgb(93, 71, 29);
    color: #ddd;
    transform: scale(1.02);
}

.shift-connect {
    display: none;
}

.shift-dropdown {
    animation: up 1s ease-out;
}

@keyframes up {
    from {transform: translateY(10rem);}
    top {transform: translateY(0rem);}
}