.welcome {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    margin-top: 13vh;
    font-size: 2rem;
    font-weight: 500;
}

.welcome > p {
    text-shadow: 4px 6px 4px black;
}

.write-compare {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.write-compare button {
    margin: 1rem;
    border-radius: 1rem;
    border: none;
    padding: 1rem;
    transition: 0.15s ease-out;
    text-decoration: none;
    background-color:rgb(135, 111, 68);
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
}

.write-compare button:hover {
    background-color: white;
    color: rgb(57, 39, 8);
    transform: scale(1.02);
}

.write-compare button:active {
    transform: scale(1);
    background-color: rgb(228, 216, 194);
}

.google {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0rem 30rem;
    border: 3px solid rgb(76, 54, 16);
    border-radius: 0.7rem;
    transition-duration: 0.1s;
}

.google:hover {
    transform: scale(1.02);
    background-color: rgb(76, 54, 16);
}

.google:active {
    transform: scale(1);
    background-color: rgb(104, 75, 25);
    border-color: rgb(104, 75, 25);
}

.google_text {
    color: rgb(235, 235, 235);
    padding: 1rem;
    margin:0;
    font-size: 1.3rem;
}

.google_img {
    width: 1.5rem;
}

.content {
    position: absolute;
    top: 60%;
    background-color: white;
    box-shadow: 2px 0px 7px 1px rgb(60, 60, 60);
}

.flex-container {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 4% 4%;
    background-color:rgba(223, 233, 237, 0.8);
    border-radius: 0.6rem;
    box-shadow: 0px 0px 7px -4px rgb(157, 157, 157);
    overflow: hidden;
}

.flex-container > div > img {
    width: 100%;
}

.text {
    padding: 2.6rem;
}

.welcome-text {
    color: white;
    font-size: 1.7rem;
    text-align: center;
    padding: 0 30vw;
}

.logged-out-view {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;

}