{% extends "base.html" %}
{% load static %}
{% load socialaccount %}
{% block content %}
<head>
    <title>Review Your Day</title>
    <link rel="stylesheet" href="{% static 'aboutus.css' %}">
</head>
<body>
    <div class="container">
        <h2>The faces behind the brand</h2>
        <div class="about-website">
            In dolore magna sit aliqua labore cillum est non commodo voluptate ad minim. Velit deserunt deserunt ut cillum nulla voluptate minim aliquip exercitation excepteur. Irure duis nisi amet in consequat anim. Nostrud incididunt adipisicing magna amet pariatur. Tempor id sunt deserunt pariatur esse in proident labore elit laboris incididunt officia excepteur nulla.Exercitation ipsum dolor excepteur aliqua. Dolore ipsum mollit laboris sit qui veniam pariatur ipsum aliquip irure anim amet. Aliqua sunt non esse voluptate Lorem labore nostrud minim anim ipsum laboris veniam. Culpa dolore mollit irure dolore ipsum in id nulla enim esse qui ut ullamco. Ut aute et excepteur tempor velit veniam enim ullamco fugiat proident adipisicing. Irure reprehenderit do eu excepteur sint culpa excepteur cupidatat proident eu ea. Aute culpa ipsum anim sunt commodo ipsum irure deserunt aliqua aute veniam irure in non.
        </div>

        <div class="soumik">
            <img class="him" src="{% static 'images/sample_friend.jpg' %}" alt="Soumik Dutta">
            <div class="developer-content">
                <p>Soumik Dutta</p>
                <p>Write Something about u</p>
                <div class="github-linkedin">
                    <a href=""><img src="{% static 'images/github.png' %}" alt="Github Profile"></a>
                    <a href=""><img src="{% static 'images/linkedin.png' %}" alt="Linked In Profile"></a>
                </div>
            </div>
        </div>

        <div class="somya">
            <img class="her" src="{% static 'images/sample_friend.jpg' %}" alt="Somya Bansal">
            <div class="developer-content">
                <p>Somya Bansal</p>
                <p>Write Something about me &#x1F31B;</p>
                <div class="github-linkedin">
                    <a href=""><img src="{% static 'images/github.png' %}" alt="Github Profile"></a>
                    <a href=""><img src="{% static 'images/linkedin.png' %}" alt="Linked In Profile"></a>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById("nav5").classList.add('active');
    </script>
</body>
{% endblock content %}