{% extends "base.html" %}
{% load static %}
{% load socialaccount %}
{% block content %}
    <head>
        <title>Review Your Day</title>
        <link rel="stylesheet" href="{% static 'index.css' %}">
    </head>
    <body>
        {% if user.is_authenticated %}
            <div class="welcome">
                <p>Welcome {{ user.first_name }}!</p>
            </div>
            <div class="write-compare">
                <a href="{% url 'write-review' %}">
                    <button>Sum up Your Day</button>
                </a>
                <a href="{% url 'compare' %}">
                    <button>Compare yourself with others</button>
                </a>
            </div>
        {% else %}
            <div class="logged-out-view">
                <p class="welcome-text">Join the community and compare your daily habits with like-minded people</p>
                <a href="{% provider_login_url 'google' %}"
                   style="text-decoration: none">
                    <div class="google">
                        <div>
                            <img src="{% static 'images/google.png' %}"
                                 alt="GoogleLogo"
                                 class="google_img">
                        </div>
                        <div>
                            <p class="google_text">Login With Google</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endif %}
        <div class="content">
            <div class="him flex-container">
                <div>
                    <img src="{% static 'images/him.jpg' %}" alt="">
                </div>
                <div class="text">
                    Today was a great day for me. I started off by getting up early and going for a run, which set the tone for the rest of the day. After my run, I made breakfast and spent some time catching up on the news and checking my email.
                    In the afternoon, I tackled some work tasks and made good progress on a project I've been working on.
                    Overall, it was a busy but fulfilling day for me, and I'm looking forward to another productive day tomorrow.
                </div>
            </div>
            <div class="her flex-container">
                <div class="text">
                    Ummmm I guess I had a nice day. I started off the day by going for a bike ride, which helped clear my mind and get me energized.
                    In the evening, I decided to try something new and signed up for a painting class. I was really happy with the finished painting after experimenting different styles. I finished off the day by setting some goals for tomorrow and reflecting on the day in my journal. Overall, it was a productive day for me.
                </div>
                <div>
                    <img src="{% static 'images/her.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </body>
{% endblock content %}
